# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
*.venv
*.pytest_cache/
*.mypy_cache/
*.pyre/

# Virtual environment
venv/
ENV/
env/

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Docker
*.log
docker-compose.override.yml
**/data/

# Celery
celerybeat-schedule
celerybeat.pid

# Testing
htmlcov/
.coverage
.tox/
.nox/
.pytest_cache/

# Misc
*.sqlite3
*.db
*.egg-info/
dist/
build/
